* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "S-Logo";
  src: url("./Fonts/Klavika/klavika-bold.otf");
}

body {
  background-color: #e5e6ea;
  font-family: Helvetica, Arial, sans-serif;
}
.main-header {
  /*   background-color: white;
 */
  background: rgb(119, 31, 35);
  background: linear-gradient(
    180deg,
    rgba(119, 31, 35, 1) 0%,
    rgba(255, 255, 255, 1) 50%
  );
}

.header-top {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.logo {
  width: 150px;
}

body header div a {
  text-decoration: none;
}

.social-logo {
  color: #4a4ef8;
  font-family: "S-Logo";
  font-size: 3rem;
  font-weight: bold;
  margin-top: 9px;
  margin-right: auto;
  margin-left: 24px;
  opacity: 0.9;
  text-decoration: none;
}

.nav2 {
  margin-top: 15px;
  padding-right: 20px;
}
button {
  background-color: #1b74e4;
  color: white;
  border: none;
  width: auto;
  height: 2rem;
  border-radius: 5px;
}

button:hover {
  background-color: #3b87e4;
}

.gray-btn {
  background-color: #f0f2f5;
}

.gray-btn:hover {
  background-color: #c6c6c9;
}

input {
  width: auto;
  height: 2rem;
  border-radius: 5px;
}

.link1 {
  text-decoration: none;
  color: #1b74e4;
  margin-bottom: 1rem;
}

.link1:hover {
  border-bottom: #1b74e4 1px solid;
}
/* .header-bottom {
  margin-left: auto;
  margin-right: auto;
}
 */
.bgpp {
  margin-left: 25%;
  margin-right: 25%;
}

.bg-pp {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.info-basic {
  display: flex;
  margin-left: 27%;
  margin-right: 27%;
  align-items: center;
}
h3 {
  color: #65676b;
}

.profile-pic {
  border-radius: 50%;
  height: 100%;
  width: 8.5rem;
  border: white solid 5px;
  margin-right: 2rem;
  margin-top: -1.5rem;
}

.profile-pic:hover {
  opacity: var(50%);
}

.info-basic2 {
  margin-right: 8%;
}

h1 {
  font-weight: bolder;
}

.botton2 {
  margin-left: 0%;
  width: 240%;
  height: 2rem;
  border-radius: 6px;
  border: none;
}

.nav-bar {
  display: flex;
  width: 47%;
  border-top: #f0f2f5 solid;
  margin-left: 27%;
  justify-content: space-between;
  padding-bottom: 1.2rem;
}
.nav-bar2 {
  margin-top: 1rem;
}
ul {
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #65676b;
}

.gray-btn {
  background-color: #e5e6ea;
  color: black;
  padding-bottom: 9px;
  border-radius: 5px;
  width: 2.2rem;
  border: none;
}
.main-body {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}
aside {
  width: 45%;
}
.aside-area {
  margin-top: 1rem;
  display: flexbox;
  /*   flex-basis: content;
 */
  /*   margin-left: 25%;
 */
  margin-right: 2%;
  gap: 1rem;
}
.aside-section {
  background-color: white;
  border-radius: 10px;
}
.aside-cont1 {
  margin: 1rem;
  padding: 1rem;
  flex-basis: content;
}

.aside-cont1 h2 {
  font-weight: bold;
}

.flex-aside {
  display: flex;
  justify-content: space-between;
}

.flex-aside h2 {
  font-weight: bold;
}

.flex-abs {
  position: relative;
}
.fa-solid {
  margin-right: 0.25rem;
  color: #65676b;
}
.fa-circle-info {
  padding-top: 1%;
}

.icons-flex {
  display: flex;
  margin-top: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  padding-top: 10px;
}

.img-pinkp {
  gap: 10px;
}

.video-aside {
  border-radius: 30px;
  padding-top: 10px;
  width: 100%;
}

.fa-facebook {
  color: #1b74e4;
  margin-right: 5px;
}

.fa-flag {
  color: #65676b;
}

.p-mar {
  margin-bottom: 10px;
}

.button3 {
  width: 100%;
}

.aside-footer {
  margin-top: -1rem;
}
.section-main {
  width: 70%;
}
.posts {
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: auto;
  gap: 1rem;
}

.post-area {
}

.post-cont {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  flex-basis: content;
  gap: 1rem;
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.icon-post {
  height: 90%;
  width: 4rem;
  border-radius: 50%;
}
.flex-aside2 {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.post-head {
  margin-bottom: 1rem;
  margin: 0.5rem;
}

.post-ecke {
  padding-left: 9px;
  margin-left: 33%;
  margin-bottom: 1.5%;
  width: 2.2rem;
  height: 2rem;
  align-self: center;
}

.post-ecke:hover {
  background-color: #f0f2f5;
  border-radius: 50%;
}

.post-body {
  margin-top: 0.8rem;
}

.emojis {
  padding: 0px;
  margin: -3px;
}

.fa-thumbs-up {
  border-radius: 50%;
  color: #65676b;
  width: 1rem;
  height: 1rem;
}

.fa-face-grin-tears {
  color: #f6d166;
}

.fa-gratipay {
  color: #ed2b4a;
}

.border-post {
  border-bottom: #e5e6ea 1px solid;
  padding-top: 5px;
  margin-bottom: 7px;
}
.border-top {
  border-top: #e5e6ea 1px solid;
}
.fa-thumbs-up2 {
  color: #1b74e4;
}
.flex-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*   margin-top: 0.5rem;
  margin-bottom: 0.5rem;
 */
  height: 1.8rem;
}
.little-btn p {
  padding-top: 4px;
}
.flex-3 {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0.5rem;
}
.little-btn {
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 8px;
}

/* HOVER FAIL HERE */
.little-btn:hover {
  background-color: #e5e6ea;
  cursor: pointer;
}

.comments {
  border-radius: 15px;
  background-color: #e5e6ea;
  width: 95%;
  margin-left: 0;
  margin-top: 0rem;
  border: none;
}

.comments::placeholder {
  padding: 0.5rem;
}

.icon-post-prof {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}

iframe {
  width: 100%;
  margin-top: 1rem;
}

.img-post-pp {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .main-body {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
  }

  aside {
    width: 80%;
    align-self: center;
  }

  .section-main {
    width: 80%;
    align-self: center;
  }

  .hide {
    display: none;
  }

  .bgpp {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .post-ecke {
    margin-left: 10%;
  }
}

@media screen and (max-width: 875px) {
  .hide2 {
    display: none;
  }

  .info-basic2 {
    font-size: 0.8rem;
  }

  .post-ecke {
    margin-left: 15%;
  }
}

@media screen and (max-width: 656px) {
  .hide3 {
    display: none;
  }

  .info-basic {
    display: flex;
    margin-left: 5%;
    margin-right: 0%;
    align-items: center;
  }

  .info-basic2 {
    font-size: 0.8rem;
  }

  .icon-post {
    height: 90%;
    width: 8rem;
    border-radius: 50%;
  }

  .flex-aside2 {
    display: flex;
    gap: 0.3rem;
    align-items: flex-start;
  }
  .main-body {
    margin-left: 0%;
    margin-right: 0%;
  }

  aside {
    width: 100%;
    align-self: center;
  }

  .section-main {
    width: 100%;
    align-self: center;
  }

  .aside-area {
    margin-right: 0%;
  }

  .post-ecke {
    margin-left: 8%;
  }
}

@media screen and (max-width: 426px) {
  .hide4 {
    display: none;
  }
  .info-basic2 {
    font-size: x-small;
  }
  .profile-pic {
    border-radius: 50%;
    height: 100%;
    width: 7rem;
    border: white solid 5px;
    margin-right: 2rem;
    margin-top: -1.5rem;
  }

  .post-ecke {
    margin-left: 5%;
  }
}
